body{
	font-size: 17px;
	color: #030f0d;
	margin: 0px;
}

*{
	box-sizing: border-box;
}

#header-nav{
	background-color: #b0b0b0;
}

#header-nav a{
	text-decoration: none;
	color: inherit;
}

h2{
	font-size: 175%;
	text-align: center;
	margin-bottom: 25px;
	padding-top: 5px;
}

section{
	position: relative;
	background-color: #b0b0b0;
	padding-top: 30px;
	padding-left: 11px;
	padding-right: 2px;
	margin-bottom: 11px;
	width: 47%;
	height: 235px;
	overflow: hidden;
}

section h2{
	margin-top: 0px;
	position: absolute;
	font-size: 125%; 
	width: 100%;
	text-align: center;
	top: -2px;
	right: -2px;

}

.row {
	width: 100%;
	margin: 0px auto 0px auto;
}
/*Desktop View*/
@media (min-width: 768px) and (max-width: 991px){
.col-dv-4{
	float: left;
}


.col-dv-4{
	width: 32%;
	margin-left: 11px;
	} 


}

/*Tablet view*/
@media (min-width: 576px) and (max-width: 767px) {

}

.col-tv-6{
	width: 48%;
	margin-left: 11px;
	margin-bottom: 15px;
}
.col-tv-12{
	width: 97.1%;
	margin-left: 11px;
}

} 

/*Mobile View*/
@media (max-width : 576px) {


} 